.section {
	text-align: center;
	padding-block-end: var(--space-block);
	padding-block-start: var(--space-block);
}

.title {
	position: relative;
	padding: var(--space-inline) 12px;
	font: 900 clamp(42px, 34px + 2.375vw, 80px) / 1 var(--font-geist-sans);
	caret-color: transparent;
}

.title::after {
	content: "";
	position: absolute;
	inset: 0;
	border-block: 1px dashed var(--color-stroke);
	transition: border-block-color var(--theme-transition-duration);
	pointer-events: none;
}

.subtitle {
	display: inline-block;
	animation: fadeInOut 6s infinite;
	will-change: opacity, transform;
}

@keyframes fadeInOut {
	0%   { opacity: 0; transform: translateY(10px) scale(0.95); }
	15%  { opacity: 1; transform: translateY(0) scale(1); }
	45%  { opacity: 1; transform: translateY(0) scale(1); }
	85%  { opacity: 0.35; transform: translateY(-10px) scale(0.95); }
	100% { opacity: 0; transform: translateY(10px) scale(0.95); }
}

.introSubtitle {
	padding: 10px 30px;
	font-size: clamp(18px, 17px + 0.141vw, 20px);
	color: var(--color-text-secondary);
	border-block-end: 1px dashed var(--color-stroke);
	transition: border-block-end-color var(--theme-transition-duration);
	caret-color: transparent;
}

.introSubtitle > strong {
	color: var(--color-explanation);
	font-weight: 500;
}

.actions {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: fit-content;
}

.copyEmailButton {
	margin: 10px auto;
}

.flag {
	position: relative;
	display: none;
	width: 20px;
	height: auto;
	margin-left: 8px;
	vertical-align: text-bottom;
	caret-color: transparent;
}

@media (min-width: 768px) {
	.flag {
		display: inline-block;
	}
}

@media (max-width: 767px) {
	.flag {
		display: none;
	}
}

@media screen and (min-width: 575px) {
	.actions {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		max-inline-size: 580px;
		margin-inline: auto;
	}

	.actionBtn {
		flex: 1 0 250px;
	}
}

@media screen and (min-width: 768px) {
	.section {
		inline-size: fit-content;
		padding-block: var(--space-block);
		margin-inline: auto;
	}

	.buttonContainer {
		margin: 2px 0;
	}
}

@media screen and (min-width: 1025px) {
	.actions {
		gap: 8px;
	}

	.section {
		padding-block: var(--space-block-sm);
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.buttonContainer {
		margin: 8px 0;
	}

	.title {
		margin-top: 60px;
	}
}

.availableCircle {
	--size: 10px;
	--color-background: #4FE2C1;
	position: relative;
	inline-size: var(--size);
	block-size: var(--size);
	border-radius: 50%;
	background: var(--color-background);
	animation: pulsate-fwd 1s infinite;
}

.availableCircle::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 75%;
	box-shadow: 0 0 0 0 var(--color-background);
	animation: circle-pulse 1s infinite;
}

@keyframes circle-pulse {
	0% {
		transform: scale(0.875);
		box-shadow: 0 0 0 0 #23f3c2;
	}
	50% {
		transform: scale(1);
		box-shadow: 0 0 0 0.375rem hsl(126 38% 48% / 0);
	}
	100% {
		transform: scale(0.875);
		box-shadow: 0 0 0 0 hsl(126 38% 48% / 0);
	}
}

.buttonContainer {
	display: flex;
	justify-content: center;
	margin: 16px 0;
	caret-color: transparent;
}

.button {
	display: inline-flex;
	padding: 6px 12px;
	font-size: 14px;
	color: var(--color-background);
	background-color: var(--color-text);
	border: none;
	border-radius: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	text-align: center;
	caret-color: transparent;
	min-width: 32px;
	min-height: 48px;
	margin: 8px;
}


.button:hover {
	background-color: var(--color-explanation);
}

.title {
	position: relative;
	font: 900 clamp(42px, 34px + 2.375vw, 80px) / 1 var(--font-geist-sans);
	border: none;
	margin: 0;
	caret-color: transparent;
}

@-webkit-keyframes pulsate-fwd {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes pulsate-fwd {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.subtitle {
	padding-top: 0px;
	padding-bottom: 10px;
	margin-top: -10px;
	font: 500 1.5rem/2rem var(--font-geist-sans);
	caret-color: transparent;
}

.title::after {
	content: "";
	position: absolute;
	inset: 0;
	border-block: 1px dashed var(--color-stroke);
	transition: border-block-color var(--theme-transition-duration);
	pointer-events: none;
	display: none;
	caret-color: transparent;
}

.arrowwave {
	display: none; /* AS ITS TRANSLATES AUTOMATICALLY */
	cursor: pointer;
	margin-top: 50px;
	margin-bottom: -50px;
	font-size: 0;
	transform: scale(1.5);
}

@media (max-width: 767px) {
	.arrowwave {
		margin-top: 30px;
		margin-bottom: -10px;
		transform: scale(1.2);
	}
}

.arrowwave span {
	display: block;
	position: relative;
	height: 10px;
	width: 16px;
	opacity: 0.2;
}

.arrowwave span::before,
.arrowwave span::after {
	display: block;
	content: "";
	position: absolute;
	height: 2px;
	width: 12px;
	background-color: #454545;
}

.arrowwave span::before {
	top: -2px;
	left: 0;
	transform-origin: left center;
	transform: rotate(45deg);
}

.arrowwave span::after {
	top: -2px;
	right: 0;
	transform-origin: right center;
	transform: rotate(-45deg);
}

.arrowwave span:nth-child(1n) {
	animation: animate-arrow-wave 2s infinite;
	animation-delay: .25s;
}
.arrowwave span:nth-child(2n) {
	animation: animate-arrow-wave 2s infinite;
	animation-delay: .50s;
}

.arrowwave span:nth-child(3n) {
	animation: animate-arrow-wave 2s infinite;
	animation-delay: .75s;
}

@keyframes animate-arrow-wave {
	0%   { opacity: 0.2; }
	25%  { opacity: 0.2; }
	50%  { opacity: 0.2; }
	75%  { opacity: 1.0; }
	100% { opacity: 0.2; }
}

.arrow {
	position: absolute;
	top: 70px;
	right: 140px;
	font-size: 0;
	transform: rotate(290deg) scale(0.70); /* Combine rotation and scale */
	pointer-events: none; /* Makes it non-interactive */
	margin: 0; /* Removes any extra space around the element */
	display: none; /* AS ITS TRANSLATES AUTOMATICALLY */
}

.language {
	top: 220px;
	right: 70px;
	position: absolute;
	display: none; /* AS ITS TRANSLATES AUTOMATICALLY */
}

@media (max-width: 767px) {
	.arrow {
		display: none;
	}

	.language {
		display: none;
	}
}

@media (max-width: 1024px) {
	.arrow {
		display: none;
	}

	.language {
		display: none;
	}
}

.minecraftsubtitle {
	position: absolute;
	color: var(--color-minecraft);
	font-size: clamp(1rem, 1.5vw, 1.5rem);
	transform: rotate(-20deg);
	animation: minesubtitle 0.3s alternate infinite;
	top: 26%;
	right: 28%;
	font-family: 'Minecraft', monospace;
	white-space: nowrap;
}

/* Push it more to the right on smaller screens like MacBook Air (approx. 1440px width) */
@media (max-width: 1440px) {
	.minecraftsubtitle {
		right: -10%; /* adjust as needed */
		top: 28%;
	}
}

/* Even more shift on smaller laptops */
@media (max-width: 1280px) {
	.minecraftsubtitle {
		right: 20%;
		top: 30%;
	}
}


@keyframes minesubtitle {
	0% {
		transform: scale(0.875) rotate(-20deg);
	}
	100% {
		transform: scale(1) rotate(-20deg);
	}
}

@font-face {
	font-family: 'Minecraft';
	src: url('/assets/fonts/Minecraft.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@media (max-width: 767px) {
	.minecraftsubtitle {
		display: none;
	}
}

@media (max-width: 1440px) {
	.minecraftsubtitle {
		display: none;
	}
}
