.card {
    display: flex;
    gap: clamp(32px, 24.24px + 2.071vw, 64px);
}
.years {
    text-wrap: nowrap;
    font-variant-numeric: tabular-nums;
}
.siteData {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px 8px;
}
.siteLink {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
}
.siteLink::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: var(--color-text);
    block-size: 1px;
    inline-size: 100%;
    mask-image: linear-gradient(to right, black 50%, transparent 100%);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms;
    will-change: transform;
}
.siteLink:hover::before {
    transform: scaleX(1);
    will-change: transform;
}
.siteLink svg {
    transition: transform 250ms;
}
.siteLink:hover svg {
    transform: rotate(45deg);
}
.years,
.siteName,
.siteLink {
    font-size: 14px;
    color: var(--color-text-secondary);
    font-weight: 500;
}
.badge {
    display: flex;
    align-items: center;
    padding: 1px 8px;
    font-size: 12px;
    line-height: normal;
    border-radius: 20px;
    background-color: var(--color-stroke);
    transition: background-color var(--theme-transition-duration);
}