.section {
	max-inline-size: 1920px;
	margin-inline: auto;
	padding: 2rem;
}

.title {
	text-align: center;
	font-size: clamp(2rem, 0.4rem + 8vw, 4rem);
	font-weight: 900;
	margin-bottom: 2rem;
}

.subtitle {
	text-align: center;
	font-size: 1.75rem;
	font-weight: 400;
	margin-bottom: 4rem;
}

.servicesContainer {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	justify-content: center;
}

.serviceCard {
	background-color: var(--color-background-tertiary);
	color: var(--color-text);
	border-radius: 8px;
	padding: 1.5rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	width: 100%;
	max-width: 400px;
	min-width: 300px;
	margin: 0 auto;
}

.serviceCard:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.serviceCategory {
	font-size: 1.2rem;
	font-weight: 700;
	text-align: center;
	align-items: center;
	display: flex;
	gap: 6px;
	margin-right: 10px;
	margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
	.servicesContainer {
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}

	.serviceCard {
		padding: 2rem;
		max-width: none;
		min-width: 0;
	}

	.serviceCategory {
		font-size: 1.5rem;
	}
}
